.orders-container{
padding:20px;
}

.order-card{
border:1px solid #ddd;
border-radius:10px;
padding:15px;
margin-bottom:20px;
background:#fff;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.order-title{
margin-bottom:5px;
}

.order-date{
font-size:14px;
color:gray;
}

/* product row */
.order-item{
display:flex;
align-items:center;
gap:10px;
margin:6px 0;
}
.order-image{
width:50px;
border-radius:6px;
}
.order-total{
display:block;
margin-top:10px;
}

.status{
display:inline-block;
margin-top:10px;
padding:5px 10px;
border-radius:10px;
border-color: #409cda;
background: lightgray;
font-size:13px;
color:rgb(15, 12, 12);
}

.status.pending{
background:orange;
}

.status.accepted{
background:#409cda;
}

.status.delivered{
background:green;
}

@media screen and (max-width:600px){

.order-item{
flex-direction:column;
align-items:flex-start;
}

.order-image{
width:45px;
}
}